node_modules
*.log
.build
.netrwlist
lists
memos.json
history.json
db.json
/coc/extensions/coc-tabnine-data
/coc/extensions/coc-omnisharp-data
/coc/extensions/commands
/coc/ultisnips/
yay/
yay.tar.gz
